<ion-modal-view>
   <ion-header-bar  class="bar bar-header bar-positive">
      <h1 class="title">Nuevo producto</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
   </ion-header-bar>
   <ion-content class="padding">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre del producto</span>
          <input type="text" placeholder="Coca Cola 1/2 L" ng-model="item.nombre">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Precio</span>
          <input type="number" placeholder="0.99" step="0.1" ng-model="item.precio">
        </label>
           <button class="button button-block button-balanced" ng-click="saveAndClose(item)">Guardar</button>
      </div>
   </ion-content>
</ion-modal-view>
